<div class="col-md-6 offset-md-3">
    <form (ngSubmit) = "onSubmitMethod()">
        <div class="form-group">
            <label for="qtype">Filter by Question type</label>
            <select id = "lastName" name = "lastName" [(ngModel)] = "employee.lastName" class="form-control">
              <option value="Java">Java</option>
              <option value="Angular">Angular</option>
              <option value="Java Programming">Java Programming</option>
              <option value="MySql">MySql</option>
              <option value="MongoDB">MongoDB</option>
            </select>
        </div>
        <button class = "btn btn-success" type ="submit">Submit</button>
    </form>
</div>

<h2>Question List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Question</th>
            <th> Q. Type </th>
            <th> Answer</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" >
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.lastName }} </td>
            <td> {{ employee.emailId | slice:0:20}}... </td>
            <td>
                <button (click) = "updateEmployee(employee.id)" class="btn btn-primary"> Update</button>
                <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>


