<nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <h4>Question List</h4>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <pagination-controls (pageChange)="employee=$event" class="center"></pagination-controls>
            </li>
        </ul>
    </div>
</nav>

<table class = "table table-striped">
    <thead>
        <tr>
            <th> Question</th>
            <th> Q. Type </th>
            <th> Answer</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees | paginate:{itemsPerPage: 5, currentPage:employee}" >
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.lastName }} </td>
            <td> {{ employee.emailId | slice:0:20}}... </td>
            <td>
                <button (click) = "updateEmployee(employee.id)" class="btn btn-primary"> Update</button>
                <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>




