<h4> View Question Details</h4>
<div>
    <div>
        <label> <b> Question: </b></label> {{employee.firstName}}
    </div>
    <div>
        <label> <b> Q. Type: </b></label> {{employee.lastName}}
    </div>
    <div>
        <label> <b> Answer: </b></label><br><textarea rows="15" cols="120">{{employee.emailId}}</textarea> 
    </div>
    <div>
        <button (click) = "getPreviousQuestionByIdAndType(employee.lastName,employee.id)" class = "btn btn-success" style="margin-left: 10px">&laquo; Previous Question</button>
        <button (click) = "getNextQuestionByIdAndType(employee.lastName,employee.id)" class = "btn btn-success" style="margin-left: 10px">Next Question &raquo;</button>
        <button (click) = "updateEmployee(employee.id)" class="btn btn-success" style="margin-left: 10px">Update</button>

        <button (click) = "download(employee.id)" [disabled]= "buttonDisabled" class="btn btn-success" style="margin-left: 10px">Download Attachment</button>
        
    </div>
</div>
