<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="piyush" routerLinkActive="active" class="nav-link" >All Question List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link" >Add Question</a>
        </li>
        <li class = "nav-item">
            <a routerLink="javaintro" routerLinkActive="active" class="nav-link" >Java Intro</a>
        </li>
        <li class = "nav-item">
            <a routerLink="javabasics" routerLinkActive="active" class="nav-link" >Java Basics</a>
        </li>
        <li class = "nav-item">
            <a routerLink="javaoops" routerLinkActive="active" class="nav-link" >Java OOPS</a>
        </li>
        <li class = "nav-item">
            <a routerLink="advancedjava" routerLinkActive="active" class="nav-link" >Advanced Java</a>
        </li>
        <li class = "nav-item">
            <a routerLink="collections" routerLinkActive="active" class="nav-link" >Java Collections</a>
        </li>
        <li class = "nav-item">
            <a routerLink="javapr" routerLinkActive="active" class="nav-link" >Java Pr</a>
        </li>
        <li class = "nav-item">
            <a routerLink="angular" routerLinkActive="active" class="nav-link" >Angular</a>
        </li>
        <li class = "nav-item">
            <a routerLink="mysql" routerLinkActive="active" class="nav-link" >MySql</a>
        </li>
        <li class = "nav-item">
            <a routerLink="mongodb" routerLinkActive="active" class="nav-link" >MongoDB</a>
        </li>
        
    </ul>
</nav>

<h4 class="text-center"> {{title}} </h4>
<div class = "container">
    <router-outlet></router-outlet>
</div>
